@page "/FoodItemOverview"
@using MyFoodLog.Web.State
@using MyFoodLog.Web.API.Client.Interfaces

@code {

    [CascadingParameter]
    public MainLayoutMaterial? Layout { get; set; }
    
    [Inject]
    private IMBToastService? ToastService { get; set; }

    [Inject]
    private StateContainer? _stateContainer { get; set; }

    [Inject]
    private IMyFoodLogApi? FoodLogApi { get; set; }
    
    [Inject]
    private NavigationManager? NavigationService { get; set; }

    private List<FoodItemDto>? FoodItems { get; set; } = new();

    private async Task ShowEditDialog(Guid id)
    {
        if (_stateContainer != null)
        {
            _stateContainer.SelectedFoodItem = FoodItems?.Find(f => f.Id == id);
            _stateContainer.PreviousPage = NavigationService?.Uri ?? string.Empty;
        }

        NavigationService?.NavigateTo("EditFoodItem");
    }
    
    private async Task ShowAddDialog()
    {
        if (_stateContainer != null)
        {
            _stateContainer.SelectedFoodItem = new();
            _stateContainer.PreviousPage = NavigationService?.Uri ?? string.Empty;
        }

        NavigationService?.NavigateTo("AddFoodItem");
    }

    protected override async Task OnInitializedAsync()
    {
        if (Layout != null)
        {
            Layout.Title = "FoodItem Overview";
        }
        
        await UpdateFoodItems(CancellationToken.None);

        await base.OnInitializedAsync();
    }

    private async Task UpdateFoodItems(CancellationToken ctx = default)
    {
        if (FoodLogApi != null)
        {
            FoodItems = (await FoodLogApi.FoodItem_GetAllAsync("1", ctx)).ToList();
        }
    }

}

<div class="mdc-layout-grid__cell--span-3-desktop"></div>
<div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">

    <div class="mdc-layout-grid__inner">

        <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
        </div>
        <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone" style="text-align: center;">
            <MBIconButton Icon="add" @onclick="@(async () => await ShowAddDialog())" style="margin: 18px 0;"/>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <MBList Items="@FoodItems"
                    Context="foodItem"
                    ListStyle="MBListStyle.Outlined"
                    ListType="MBListType.Regular"
                    KeyboardInteractions="true">

                <Title>@foodItem.Name</Title>
                <LineTwo>Energy: @foodItem.Energy.ToString("0.####") kcal/@foodItem.QuantityUnit</LineTwo>

                <SecondaryActions>
                    <MBIconButton Icon="edit" @onclick="@(async () => await ShowEditDialog(foodItem.Id))"/>
                </SecondaryActions>
            </MBList>
        </div>
    </div>
</div>