@namespace MyFoodLog.Web.Components

<EditForm Model="@AddConsumptionRequestDto">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <MBTextField @bind-Value="@AddConsumptionRequestDto.Name"
                         Label="Product Name"
                         TextInputStyle="MBTextInputStyle.Outlined"
                         Disabled="@NameWasProvided"
                         style="width: 100%; margin-top: 1em"/>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <MBNumericDecimalField @bind-Value="@AddConsumptionRequestDto.Amount"
                                   DecimalPlaces="2"
                                   Label="Amount"
                                   HelperText=""
                                   TextInputStyle="MBTextInputStyle.Outlined"
                                   style="width: 100%"/>
        </div>

        <!--
        TODO:
        - Put the unit of the amount in the HelperText
        - Submit the ConsumptionDto to the backend
        -->

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <MBSelect @bind-Value="@AddConsumptionRequestDto.MealTypeId"
                      Items="@Meals"
                      ItemValidation="MBItemValidation.NoSelection"
                      Label="Meal"
                      style="width: 100%"/>
        </div>

        <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone"></div>
        <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone" style="text-align: left;">
            <MBButton Label="Add"
                      style="margin: 0.75em 0.25em 0.25em 0.25em;"
                      type="submit"
                      @onclick="@(async () => await SubmitConsumption())"/>
        </div>
    </div>

</EditForm>