<div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone" style="display: grid; align-content: center;">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-2-desktop" style="display: grid; align-content: center;">
                            <MBIconButton Icon="arrow_back_ios" @onclick="@BackOneDay"/>
                        </div>
                        <div class="mdc-layout-grid__cell--span-8-desktop" style="display: grid; align-content: center;">
                            <MBDatePicker @bind-Value="Day"
                                          DateFormat="dd-MM-yyyy"
                                          MaxDate="@DateTime.MaxValue"
                                          MinDate="@DateTime.MinValue"
                                          MenuSurfacePositioning="MBMenuSurfacePositioning.FullWidth"
                                          SelectInputStyle="MBSelectInputStyle.Filled"/>
                        </div>
                        <div class="mdc-layout-grid__cell--span-2-desktop" style="display: grid; align-content: center;">
                            <MBIconButton Icon="arrow_forward_ios" @onclick="@ForwardOneDay"/>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell--span-0-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="display: grid; align-content: center;">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone" style="display: grid; align-content: center;">
                            <MBIconButton Icon="arrow_back_ios" @onclick="@BackOneDay" style="margin: 42px 21px;"/>
                        </div>
                        <div class="mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone" style="display: grid; align-content: center;">
                            <MBDatePicker @bind-Value="Day"
                                          DateFormat="dd-MM-yyyy"
                                          MaxDate="@DateTime.MaxValue"
                                          MinDate="@DateTime.MinValue"
                                          MenuSurfacePositioning="MBMenuSurfacePositioning.FullWidth"
                                          SelectInputStyle="MBSelectInputStyle.Filled"/>
                        </div>
                        <div class="mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone" style="display: grid; align-content: center;">
                            <MBIconButton Icon="arrow_forward_ios" @onclick="@ForwardOneDay" style="margin: 42px 21px;"/>
                        </div>
                    </div>
                </div>