@namespace MyFoodLog.Web.Components


<EditForm Model="@CreateDto" OnSubmit="@(async () => await HandleForm())">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="margin-top: 10px;">
            <MBTextField @bind-Value="@CreateDto.Name"
                         Label="Product Name"
                         TextInputStyle="MBTextInputStyle.Outlined"
                         style="width: 100%"/>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="margin-top: 10px;">
            <MBTextField @bind-Value="@CreateDto.EaN13"
                         Label="Barcode"
                         HelperText="EAN13"
                         HelperTextPersistent="true"
                         TextInputStyle="MBTextInputStyle.Outlined"
                         style="width: 100%"/>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="margin-top: 10px;">
            <MBTextField @bind-Value="@CreateDto.QuantityUnit"
                         Label="Quantity unit"
                         HelperText="Piece, gram, milliliter, ..."
                         TextInputStyle="MBTextInputStyle.Outlined"
                         style="width: 100%"/>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="margin-top: 10px;">
            <MBNumericDecimalField @bind-Value="@CreateDto.Energy"
                                   DecimalPlaces="4"
                                   Label="Energy"
                                   HelperText="kcal/quantity unit"
                                   TextInputStyle="MBTextInputStyle.Outlined"
                                   style="width: 100%"/>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="margin-top: 10px;">
            <MBNumericDecimalField @bind-Value="@CreateDto.Fat"
                                   DecimalPlaces="4"
                                   Label="Fat"
                                   HelperText="g/quantity unit"
                                   TextInputStyle="MBTextInputStyle.Outlined"
                                   style="width: 100%"/>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="margin-top: 10px;">
            <MBNumericDecimalField @bind-Value="@CreateDto.Carbohydrates"
                                   DecimalPlaces="4"
                                   Label="Carbohydrates"
                                   HelperText="g/quantity unit"
                                   TextInputStyle="MBTextInputStyle.Outlined"
                                   style="width: 100%"/>
        </div>

        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="margin-top: 10px;">
            <MBNumericDecimalField @bind-Value="@CreateDto.Protein"
                                   DecimalPlaces="4"
                                   Label="Protein"
                                   HelperText="g/quantity unit"
                                   TextInputStyle="MBTextInputStyle.Outlined"
                                   style="width: 100%"/>
        </div>

        <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone"></div>
        <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone" style="text-align: left;">
            <MBButton Label="@ButtonText"
                      style="margin: 0.75em 0.25em 0.25em 0.25em;"
                      type="submit"/>
        </div>
    </div>
</EditForm>